body {
  margin: 0;
  font-family: Arial;
  background: #edeef0;
}

.sci {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #fff;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar a {
  display: block;
  margin: 10px 0;
  color: #2a5885;
  text-decoration: none;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
}

/* PROFILE */
.profile-top {
  display: flex;
  gap: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.avatar {
  width: 100px;
  height: 100px;
  background: #ccc;
  border-radius: 8px;
}

/* POST */
.post {
  background: #fff;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}

/* MOBILE */
@media (max-width: 768px) {
  .vk {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
  }

  .content {
    padding: 10px;
  }

  .profile-top {
    flex-direction: column;
    align-items: center;
  }
}